<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sourceanalysator -->
      <package
            uri="http://www.reimone.net/sourceanalysator"
            class="net.reimone.sourceanalysator.SourceanalysatorPackage"
            genModel="metamodel/sourceanalysator.genmodel"/>
   </extension>

</plugin>
