<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.reimone.sourceanalysator.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/net.reimone.sourceanalysator.product/css/default.css">
         </property>
         <property
               name="appName"
               value="net.reimone.sourceanalysator.product">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://net.reimone.sourceanalysator.product/net.reimone.sourceanalysator.product.E4LifeCycle">
         </property>
      </product>
   </extension>
   <!--
   <extension
         id="SourcaAnalysatorProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Source Analysator Product">
      </product>
   </extension>
-->
</plugin>
